[Unit]
Description=Event Watcher for Domoticz

[Service]
Type=simple
ExecStart=/home/pi/domoticz/myscripts/event_watcher.py

Restart=on-failure
RestartSec=2

[Install]
WantedBy=sysinit.target
